@import "fonts.css";
* {
    list-style: 0;
    margin: 0;
    text-decoration: none;
}


body {
    background: #000;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Dela Gothic One", sans-serif;
    --font3: "Inter", sans-serif;
}

.hidden{
    display: none;
}

.icon{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    fill: currentColor;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background: #000;
    height: 100vh;
    padding-top: 24px;
    position: relative;
}

.ticker {
    position: relative;
    height: 100px;
    overflow: hidden;
    z-index: 1;
}

.ticker__line {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: black;
    will-change: transform;
    overflow: hidden;
}

.ticker--yellow {
    background: #e6fb04;
    transform: rotate(2deg);
    top: 26px;
    height: 32px;
}

.ticker--white {
    background: #fff;
    transform: rotate(-2deg);
    top: 61px;
    height: 32px;
}

.ticker__text {
    white-space: nowrap;
    animation: tickerMove 10s linear infinite;
}

@keyframes tickerMove {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}



.padding-0 {
    padding-top: 0 !important;
}


.rejection-content {
    padding-left: 26px;
    padding-right: 26px;
}

.rejection-image img {
    margin: 73px auto 142px auto;
    display: block;
}

h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    text-align: center;
    color: #fff;
}

h2 span {
    color: #e6fb04;
}

.reason {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: center;
    margin-top: 12px;
}

.btn-primary {
    border-radius: 34px;
    padding: 20px 0;
    max-width: 398px;
    width: 100%;
    background: #e6fb04;
    margin: auto;
    margin-top: 46px;
    display: block;
    border: none;
    transition: 0.3s ease-in-out;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    text-align: center;
    color: #000;
}


.btn-primary:hover {
    background: #c7d715;
}



/* section form_register start */

.form-step {
    display: none;

}

.form-step.active {
    display: flex;

}

.form-section {
    padding: 66px 16px;
}

.form-title {
    text-align: start;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    color: #fff;
    position: relative;
    display: inline-block;
    margin-bottom: 70px;
}

.form-title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #e6fb04;
}

.form-label {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 95%;
    color: #fff;
    margin-bottom: -12px;
}

.form {
    flex-direction: column;
    gap: 24px;

}

.form-input {
    border: 1px solid #fffffc;
    border-radius: 34px;
    background: rgba(247, 247, 247, 0.05);
    color: #ffff;
    padding: 20px 24px;
}

.form-textarea {
    border: 1px solid #fffffc;
    border-radius: 34px;
    padding: 20px 24px;
    height: 143px;
    background: rgba(247, 247, 247, 0.05);
    color: #ffff;
    resize: none;
}

.form-birthday {
    display: grid;
    grid-template-columns: 114px 114px 141px;
    gap: 14px;
    width: 100%;
}

.form-date {
    background: rgba(247, 247, 247, 0.05);
    color: #ffff;
    border: 1px solid #fffffc;
    border-radius: 34px;
    padding: 20px 0;
    text-align: center;
}

.form-select {
    width: 100%;
    padding: 20px 24px;
    border-radius: 999px;
    border: 1px solid #fff;
    background-color: #111;
    color: white;
    font-size: 14px;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 20px;
}

.hobby-grid {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.hobby-btn {
    border-radius: 30px;
    padding: 12px 14px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    text-align: center;
    display: flex;
    align-items:center;
    color: #000;
}

.hobby-btn .icon{
    fill: currentColor !important; 
} 

.hobby-item {
    position: relative;
    display: block;
}

.hobby-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.hobby-visual {
    display: inline-flex;
    justify-content: center;
    padding: 15px 14px;
    border: 2px solid #fff;
    border-radius: 999px;
    background-color: transparent;
    color: #fff;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    align-items:center;
}

/* Состояние при активном чекбоксе */
.hobby-item input[type="checkbox"]:checked+.hobby-visual {
    background-color: #fff;
    color: #000;
}



/* 5 */
.time-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 95%;
    color: #dcdcdc;
    margin-bottom: 14px;
}

.time-row {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
}

.time-row span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 95%;
    text-align: center;
    color: #fff;
    display: block;
}


.form-time {
    background: rgba(247, 247, 247, 0.05);
    color: #ffff;
    border: 1px solid #fffffc;
    border-radius: 34px;
    padding: 25px 0;
    height: 20px;
    width: 100%;
}

input[type="time"] {
    color: white;
    /* Цвет текста (value) */
    font-size: 16px;
    /* Размер */
    font-weight: bold;
    /* Жирность */
    background: rgba(247, 247, 247, 0.05);
    /* Отступы */
    /* Скругление */
    border-radius: 34px;
    /* Обводка */
    border: 1px solid #fffffc;
    padding: 20px 24px;
    text-align: center;
}

/* Убираем иконку у input[type="time"] */
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


/* 6 */
.form-icon-input {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 999px;
    padding: 0px 18px;
    margin-bottom: 16px;
    background-color: #111;
}

.form-icon-input .icon {
    margin-right: 16px;
    font-size: 18px;
    color: white;
}

.form-icon-input .form-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

.form-input.--input-icon {
    padding: 20px 0px 24px;
    ;
}

/* 7 */
.upload-avatar {
    width: 250px;
    height: 250px;
    background-color: #eee;
    border-radius: 50%;
    margin: 90px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.avatar-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.upload-text {
    z-index: 1;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    color: #000;
}

.btn-next {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}


/* section form_register end */

/* profile start */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 24px;
}

.header-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    color: #e6fb04;

}

/* hero */
.hero {
    border-radius: 39px;
    padding: 26px 16px;
    background: linear-gradient(328deg, #ff0 0%, rgba(120, 149, 6, 0.62) 10.86%, #98ad44 61.2%, #9db500 100%);
    background-size: 300% 300%;
    animation: gradientShift 8s ease infinite;
    align-items: center;
    text-align: center;
    margin: 0 16px;
    margin-bottom: 32px;
    transition: 0.5s ease-in-out;

}

@keyframes gradientShift {
    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 25% 50%;
    }

    50% {
        background-position: 50% 75%;
    }

    75% {
        background-position: 75% 10%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.hero-title {
    margin: 16px 0 12px 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 95%;
    color: #fff;
    position: relative;
    display: inline-block;
}

.hero-title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #e6fb04;
}

.hero img {
    display: block;
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fff;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.hero img:hover {
    scale: 1.3;
}

.hero span {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}


/* content */

.content__information,
.content__reviews {
    display: none;
}

.content__information.active,
.content__reviews.active {
    display: block !important;
}

.content {
    position: relative;
    background: #000;
    padding-bottom: 60px;
}

.content__wrapper {
    padding: 0 16px;
    background: #000;
    height: 100%;
}

.content__tap {
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    overflow: hidden;
    width: 100%;
}

.content__tap-btn {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 58px;
    background: transparent;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #dcdcdc;
}

.content__tap-slider {
    position: absolute;
    top: 1px;
    width: 47%;
    height: 100%;
    background: #e6fb04;
    border-radius: 34px;
    z-index: 1;
    transition: transform 0.4s ease-in-out;
    max-height: 58px;
}

.content__tap-slider:hover {
    background: #b4b41c !important;
}

/* Цвет текста активной кнопки */
.content__tap-btn.active {
    color: #000;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}





.content-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #e6fb04;
    text-align: start;
    margin-bottom: 20px;
}

.content-subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: start;
}

.content-birthday {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #fff;
    display: block;
}


.section {
    margin-bottom: 32px
}

.section__block-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    color: #e6fb04;
    margin-bottom: 32px;
}

.section__block {
    display: flex;
    flex-wrap: wrap;
    background: rgba(242, 242, 242, 0.15);
    border-radius: 35px;
    padding: 24px;
    flex-direction: column;
}

.section__block-btn {
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: start;
    background: rgba(242, 242, 242, 0.15) !important;
    display: flex;
    align-items: center;

}

.section__block-btn:last-child {
    margin-bottom: 0;
}

.mb24 {
    margin-bottom: 24px;
}

.footer__content {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 23px;
}

.footer__content-btn {
    display: flex;
    align-items: center;
    border-radius: 34px;
    padding: 15px 40px;
    max-width: 187px;
    background: #ffff;
    transition: 0.3s ease-in-out;

}

.footer__content-btn:hover {
    background: #c1bfbf;
}

.footer__content-btn span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    text-align: center;
    color: #000;
    display: block;
    margin-left: 10px;
}

.footer__content-btn.active {
    background: #e6fb04;
}

.footer__content-btn:hover.active {
    background: #d3e325;
}

/* profile end */


/* reviews start */

.reviews {
    background: url('../img/bg_reviews.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.reviews-blank {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-blank h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #7c7c7c;
}

.reviews:last-child {
    margin-bottom: 0;
}

.reviews__wrapper {
    padding: 20px;
}

.header__content span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #2d2d2d;
}

.header__content-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 95%;
    color: #000;
    position: relative;
    margin-bottom: 17px;
}

.header__content-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #e6fb04;
}

.reviews__header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 24px
}

.header__content-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #000;
}

/* reviews end */


/* category start */

.main_title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    color: #e6fb04;
    text-align: center;
    margin-bottom: 36px;
}

.category__wrapper {
    background: #000;
    width: 100%;
}

.category__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 95%;
    color: #fff;
    text-align: start;
    margin-left: 16px;
    position: relative;
    display: inline-block;
    margin-bottom: 38px;
}

.category__title:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #e6fb04;
}

.category__gap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    list-style: none;
    padding: 0 16px;
    text-align: center;
    margin-bottom: 43px;
    justify-items: center;
}

.category__gap li {
    border-radius: 46px;
    background: rgba(255, 255, 255, 0.97);
    display: block;
    width: 100%;
    padding: 24px 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.category__gap li:hover {
    background: rgba(224, 224, 224, 0.97);
}

.category__gap li a {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
}

.category__search {
    margin: 0 16px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-serch {
    display: block;
    max-width: 398px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 34px;
    padding: 20px 24px 20px 64px;
    background: rgba(255, 255, 255, 0.05);
    color: #ffff;


}

.category__search::before {
    content: '';
    position: absolute;
    left: 12%;
    top: 20%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url('../img/InstagramLogo.svg') center center no-repeat;
    background-size: cover;

}

@media (max-width: 1400px) {
    .category__search::before {
        left: 12%;
    }
}

@media (max-width: 600px) {
    .category__search::before {
        left: 7%;
    }
}

/* category end */


/*category-iner start */

.--second {
    margin-top: 13px;
    margin-bottom: 43px;
}

.--white {
    color: #fff !important;
}

.main_img {
    position: absolute;
    top: 24px;
    left: 18px;
}

.guest__wrapper {
    border-radius: 34px;
    padding: 24px 16px;
    background: #f2f2f2;
    margin-top: 32px;
}

.category__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 95%;
    color: #000;
}

.category__guest-list-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 95%;
    color: #000;
    margin-bottom: 32px;
}

.category__guest-item {
    margin-bottom: 16px;
}



.category__guest-item:last-child {
    margin-bottom: 0px;
}

.category__guest-list {
    padding: 0;
    list-style: none;
}

.category__guest-link {
    display: flex;
    align-items: center
}

.category__guest-num {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 95%;
    text-align: center;
    color: #000;
    margin-right: 16px;
}

.category__guest-avatar {
    border: 1px solid #9db500;
    border-radius: 50px;
    margin-right: 10px;
    width: 46px;
    height: 46px;
}

.category__guest-name {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 95%;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.category__guest-name::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #9db500;
}

.category__guest-category {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #293300;
}

.category__guest-arrow {
    display: block;
    margin-left: auto;
    margin-top: -40px;
}

.--white__bg {
    background: #ffff !important;
}

.--black__color {
    color: #000 !important;
}

.hero-info__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 24px;
    gap: 20px;
}

.hero-info__white {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000 !important;
    display: block;
}

.hero-btn {
    cursor: pointer;
    border-radius: 34px;
    padding: 20px 0;
    width: 366px;
    height: 58px;
    background: #000;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    text-align: center;
    color: #fff;
    border: none;
    transition: 0.3s ease-in-out;
}

.hero-btn:hover {
    background: #373737;
}

/*category-iner end */


/* madal start */

.modal-review {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100%;
    height: 100%;
    max-width: 600px;
    width: 100%;
    background: #fff;
    border-radius: 24px 24px 0 0;
    z-index: 999;
    transition: bottom 0.4s ease;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
}

.modal-review.active {
    bottom: 0;
}

.modal-review__inner {
    padding: 16px;
    max-width: 650px;
}

.modal-review__close {
    position: absolute;
    left: 16px;
    top: 12px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal-review__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 95%;
    color: #7c7c7c;
    padding-bottom: 43px;
    margin-top: 10px;
}

.modal-review__user {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}


.modal-review__avatar {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-right: 16px;
}

.modal-review__name {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 95%;
    text-transform: uppercase;
    color: #000;
    border-bottom: 5px solid #e6fb04;
    padding-bottom: 6px;
    margin-bottom: 11px;
}

.modal-review__tag {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #2d2d2d;
}

.modal-review__label {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 95%;
    color: #000;
    display: block;
    margin-top: 144px;
    margin-bottom: 12px;
}

.modal-review__textarea {
    border: 1px solid #888;
    border-radius: 34px;
    padding: 12px 0;
    padding-left: 24px;
    width: 90%;
    background: #f2f2f2;


}

.modal-review__textarea::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: start;

    color: #888;
}

.modal-review__submit {
    max-width: 398px;
    width: 100%;
    background: #e6fb04;
    border: none;
    padding: 14px;
    font-weight: bold;
    border-radius: 999px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%)
}




/* madal end */